* {
    margin: 0px;
    box-sizing: border-box;
}

 p{
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    font-weight: bold;
    position: relative;
    border-left: 5px solid #e91e63;
}
p::before{
    content: attr(data-person);
    background-color: #eee;
    position: absolute;
    left: -95px;
    padding: 10px;
    top: 12px;
    width: 50px;
}
 p::after{
    content: "";
    position: absolute;
    border: 15px solid;
    height: 0;
    width: 0;
    border-color: transparent #e91e63 transparent transparent;
    float: left;
    left: -35px;
    top: 14px;
}


